.xperience .card {
  gap: 10px;
}
.xperience .company {
  width: 25%;
}
.xperience .desc {
  width: 75%;
}
.desc h3 {
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .xperience_card {
    flex-direction: column;
    gap: 20px;
  }
  .xperience .company {
    width: 100% !important;
  }
  .xperience .desc {
    width: 100% !important;
  }
}
